*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
}

html{
    scroll-behavior: smooth;
}

.nav-bar{
    background-color: #02031A;
    color: #EBDFCC;
    height: 10vh;
    padding: 0 4%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar img{
    cursor: pointer;
}

.list{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.list a{
    text-decoration: none;
    color: #C9C8BC;
}

.list a:hover{
    color: #FF0841;
    cursor: pointer;
}

.container-first{
    background-color: #02031A;
    color: #EBDFCC;
    height: 90vh;
    padding: 0 4%;
    display: flex;
}

.container-title{
    width: 50%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line{
    border-style: solid;
    width: 100%;
    color: #FF0841;
    border-width: 0.25rem;
    border-radius: 10px;
}

.container-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-login{
    height: 80%;
}

.imagem-vendedor{
    height: 50%;
}

.container-second{
    background-color: #C9C8BC;
    height: 100vh;
    color: #02031A;
    padding: 0 4%;
    display: flex;
}

.container-text{
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text p{
    font-weight: 600;
}

.container-third{
    background-color: #02031A;
    color: #EBDFCC;
    height: 100vh;
    padding: 0 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    border: solid;
    border-color:#EBDFCC;
    border-width: 5px;
    border-radius: 10px;
    height: 50%;
    width: 27%;
    text-align: center;
    padding: 1%;
}

.card h2{
    margin: 5% 0;
}

.card:hover{
    border-color: #FF0841;
    width: 33%;
    transition: 0.5s;
    font-weight: 900;
}

.card:hover h2{
    color: #FF0841;
    transition: 0.5s;
    font-size: 2rem;
}

.container-fourth{
    background-color: #C9C8BC;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe{
    background-color: #02031A;
    color:#EBDFCC;
    width: 50%;
    height: 60%;
    border-radius: 35px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.subscribe h3{
    font-size: 3rem;
    border-bottom: #FF0841 solid 5px;
}

.subscribe p{
    font-size: 1.25rem;
}

.subscribe form{
    width: 60%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
}

.subscribe form input{
    border: none;
    outline: none;
    border-radius: 20px;
}

.subscribe form button{
    background-color: #FF0841;
    color: #02031A;
    border: none;
    border-radius: 20px;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
}

.subscribe form button:hover{
    background-color: #fd2c5d;
    transition: 0.5s;
}

footer{
    padding: 0 4%;
    background-color: #02031A;
    height: 30vh;
    color:#EBDFCC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colum{
    box-sizing: border-box;
    padding-top: 3%;
    height: 100%;
    width: 30%;
}

.footer-titles{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.colum .text{
    font-size: 1rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

.colum .text:hover{
    color: #FF0841;
    cursor: pointer;
}

.footer-img{
    cursor: pointer;
    width: 125px;
    height: auto;
}
