*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
}

html{
    scroll-behavior: smooth;
}

.nav-bar{
    background-color: #02031A;
    color: #EBDFCC;
    height: 10vh;
    padding: 0 4%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.list a{
    text-decoration: none;
    color: #C9C8BC;
}

.list a:hover{
    color: #FF0841;
    cursor: pointer;
}

.container-first{
    background-color: #02031A;
    color: #EBDFCC;
    height: 90vh;
    padding: 0 4%;
    display: flex;
}

.container-title{
    width: 50%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line{
    border-style: solid;
    width: 100%;
    color: #FF0841;
    border-width: 0.25rem;
    border-radius: 10px;
}

.container-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-login{
    height: 80%;
}

.imagem-vendedor{
    height: 50%;
}

.container-second{
    background-color: #C9C8BC;
    height: 100vh;
    color: #02031A;
    padding: 0 4%;
    display: flex;
}

.container-text{
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text p{
    font-weight: 600;
}

.container-third{
    background-color: #02031A;
    color: #EBDFCC;
    height: 100vh;
    padding: 0 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    border: solid;
    border-color:#EBDFCC;
    border-width: 5px;
    border-radius: 10px;
    height: 50%;
    width: 27%;
    text-align: center;
    padding: 1%;
}

.card h2{
    margin: 5% 0;
}

.card:hover{
    border-color: #FF0841;
    width: 33%;
    transition: 0.5s;
    font-weight: 900;
}

.card:hover h2{
    color: #FF0841;
    transition: 0.5s;
    font-size: 2rem;
}

.container-fourth{
    background-color: #C9C8BC;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #02031A;
    height: 40vh;
}

.carousel {
    position: relative;
    width: 60%;
    height: 60%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    background:#02031A;
    border-color:#FF0841;
    border-style: solid;
    color: #EBDFCC;
  }
  
  .carousel-track-container {
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .carousel-slide p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .carousel-slide span {
    font-weight: bold;
    color: #555;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: #333;
  }
  
  button:focus {
    outline: none;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
