*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
}

.nav-bar{
    background-color: #02031A;
    color: #EBDFCC;
    height: 10vh;
    padding: 0 4%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.list{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.list li:hover{
    color: #FF0841;
    cursor: pointer;
}

.container-primary{
    background-color: #02031A;
    color: #EBDFCC;
    height: 90vh;
    padding: 0 4%;
    display: flex;
}

.container-title{
    width: 50%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line{
    border-style: solid;
    width: 100%;
    color: #FF0841;
    border-width: 0.25rem;
    border-radius: 10px;
}

.container-image{
    width: 50%;
}

.container-secundary{
    background-color: #C9C8BC;
    height: 100vh;
    color: #02031A;
    padding: 0 4%;
    display: flex;
}

.container-text{
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text p{
    font-weight: 600;
}

.container-tertiary{
    background-color: #02031A;
    color: #EBDFCC;
    height: 100vh;
    padding: 0 4%;
    display: flex;
}

.container-card{
    width: 50%;
    display: flex;
    margin-top: 22%;
}

.card{
    background-color: #C9C8BC;
    color: #02031A;
    border-radius: 10px;
    width: 85%;
    height: 60%;
}
